html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
}

ol,
ul {
    list-style: none;
}

input,
textarea,
button {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    outline: none;
    appearance: none;
    text-align: left;
}

:root {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: blue;
}

.calculator {
    width: 225px;
    height: 320px;
    border-radius: 10px;
    overflow: hidden;
    /* filter: drop-shadow(2px 2px 5px #3a3a3a); */
}

.calculator-screen {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    height: 70px;
    width: 100%;
    background-color: #2b2b2b;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.calc-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
    height: 50px;
    flex-grow: 1;
    background: white;
    border: 0.25px solid black;
}

.calc-button:active {
    background-color: rgb(235, 235, 235);
    box-shadow: 1px rgb(50, 50, 50);
    bottom: 0;
    transform: translateY(0.25px);
    overflow: hidden;
}

.equals {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.operator {
    background-image: linear-gradient(to right, #fe886a, #ff7033);
}

.operator:active {
    background-color: rgb(235, 235, 235);
    box-shadow: 1px rgb(50, 50, 50);
    bottom: 0;
    opacity: 95%;
    transform: translateY(0.25px);
    overflow: hidden;
}

.screen-top {
    font-size: 10px;
}